#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  color: black;
}

.card {
  padding: 2em;
}

.container {
  border: 1px solid black;
  border-radius: 40px;
  padding: 0 2rem;
  height: 600px;
  max-width: 400px;
}

.title-card {
  text-align: start;
  color: rgb(33, 33, 33);;
}

.description-card {
  text-align: start;
  color: #777;
  font-size: 0.9rem;
}

.btn-card {
  background-color: rgb(33, 33, 33);
  border-radius: 50px;
  color: white;
  padding: 1rem;
}