#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

body {
  color: rgb(33, 33, 33);;
  background-color: #ebebeb;
}

.container {
  height: 650px;
  max-width: 350px;
  background-color: white;
  box-shadow: 0px 0px 10px rgb(0, 0, 0, 0.1);
  border-radius: 30px;
  margin: 1rem auto;
  overflow: hidden;
}

.image-container {
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  overflow: hidden;
}

.image-container img {
  width: 50%;
  margin: 1rem;
}

.text-container {
  text-align: start;
  padding: 1rem 1.5rem;
  font-size: 0.9rem;
}

.description-card {
  color: #777;
  margin-top: 0.5rem;
}

.btn-container {
  display: flex;
  gap: 0.6rem;
  justify-content: space-between;
  padding: 0 0.5rem;
}

.btn-next {
  background-color: rgb(33, 33, 33);
  border-radius: 50px;
  width: 50px;
  padding: 1rem;
  color: white;
  font-weight: 800;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-prev {
  border-radius: 50px;
  background-color: white;
  border: 2px solid;
  color: black;
  font-weight: 800;
  padding: 1rem;
  cursor: pointer;
}

.btn-prev:hover {
  border: 2px solid rgb(0, 0, 0);
}

.indicators {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: start;
}

.indicator {
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50%;
  background-color: #777;
  transition: background-color 0.5s ease;
}

.indicator:active {
  background-color: black;
}

/* -----------MEDIA QUERIES------------- */

/* Movil hasta 768px */
@media screen and (max-width: 767px){
  .container {
    height: auto;
    max-width: 80%;
  }

  .image-container {
    height: 300px;
  }

  .image-container img {
    width: 80%;
    margin: 1rem;
  }

  .text-container {
    font-size: 0.8rem;
    padding: 1rem;
  }

  .btn-next {
    padding: 0.8rem;
  }
}

/* Tablet */
@media screen and (min-width: 768px) {
  .container {
    height: 680px;
    max-width: 80%;
  }
  
  .image-container {
    height: 380px;
  }

  .text-container {
    font-size: 1rem;
    padding: 1rem 1.5rem;
  }

  .btn-next {
    padding: 1rem;
  }
}

/* Notebook */
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .container {
    height: 600px;
    max-width: 50%;
  }
  
  .image-container {
    height: 300px;
  }

  .image-container img {
    width: 60%;
    margin: 1rem;
  }

  .text-container {
    font-size: 1rem;
    padding: 1rem 1.5rem;
  }

  .btn-next {
    padding: 1rem;
  }
}